body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

.btn {
    position: sticky;
    bottom: var(--gap-l);
}

#root {
    padding: var(--gap-l);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

:root {
    --gap-s: 4px;
    --gap-m: 8px;
    --gap-l: 14px;
    --gap-xl: 18px;

    --text: #333;
    --text-secondary: #666;
    --text-placeholder: #999;
}